<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="static/main.css" />

    <!-- The following link is used for bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>AirBnB Calc</title>
  </head>

  <body>

    <h2>Information about the property</h2>
    <div class="p-3 mb-2 bg-secondary text-white">
    <form method="post" action="{{url_for('result') }}">
      <div class="row">
        <div class="col">
          <label for="mortagePrice"> Mortgage Monthly Cost</label
          ><input
            type="number"
            class="form-control"
            name="mortg_monthly"
            placeholder="$ Monthly Mortgage"
          />
        </div>

        <div class="col">
          <label for="mortagePrice"> HOA Monthly Cost</label
          ><input
            type="number"
            class="form-control"
            name="hoa_monthly"
            placeholder="$ HOA Monthly"
          />
        </div>

        <div class="col">
          <label for="mortagePrice"> Electricity/Gas Monthly Cost</label
          ><input
            type="number"
            class="form-control"
            name="power_monthly"
            placeholder="$ Electricity/Gas Monthly"
          />
        </div>
        <div class="col">
          <label for="internetPrice"> Internet Monthly Cost</label
          ><input
            type="number"
            class="form-control"
            name="wifi_monthly"
            placeholder="$ Internet Monlty"
          />
        </div>

      </div>
      <div class="row">
        <div class="col">
          <label for="water_sewagePrice"> Water/Sewage Monthly Cost</label
          ><input
            type="number"
            class="form-control"
            name="water_sewage_monthly"
            placeholder="$ Water/Sewage Monthly"
          />
        </div>
        <div class="col">
          <label for="otherPrice"> Other Monthly Expense</label
          ><input
            type="number"
            class="form-control"
            name="other_monthly"
            placeholder="$ Other Monthly"
          />
        </div>
      </div>
    </div>

      <h2>Information about the AirBnB prices and fees</h2>

      <div class="p-3 mb-2 bg-secondary text-white">
      <div class="row">
        <!-- nightly rate-->
        <div class="col">
          <label for="nightly_rate"> Desired Rate</label
          ><input
            type="number"
            class="form-control"
            name="nightly_rate"
            placeholder="$ Nightly Rate"
          />
        </div>
        <!-- cleaning fee -->
        <div class="col">
          <label for="cleaningFee"> Cleaning Fee</label
          ><input
            type="number"
            class="form-control"
            name="cleaning_fee"
            placeholder="$ Cleaning Fee"
          />
        </div>
      </div>
      </div>
      
        <div class="row">
          <div class="col">
            <div class="p-3 mb-2 bg-warning text-dark">
            <h5>
              AirBnB Guest 14% Service Fee
            </h5>
          </div>
          </div>
          <div class="col">
            <div class="p-3 mb-2 bg-warning text-dark">
              <h5>
                AirBnB Host 3% Service Fee
              </h5>
            </div>
          </div>
        </div>
      </div>

  
      <button type="submit" class="btn btn-primary">Calculate</button>
    </form>

    {% if calc_success == True %}

    <div class="container text-center">
      <div class="row">

        <div class="col">
          <div class="p-3 mb-2 bg-success-subtle text-emphasis-success">
          <h5>Monthly Mortgage: {{mortg_monthly_formatted}}</h5>
          </div>
        </div>

        <div class="col">
          <div class="p-3 mb-2 bg-success-subtle text-emphasis-success">
          <h5>Monthly HOA: {{hoa_monthly_formatted}}</h5>
          </div>
        </div>

        <div class="col">
          <div class="p-3 mb-2 bg-success-subtle text-emphasis-success">
          <h5>Monthly Power: {{power_monthly_formatted}}</h5>
          </div>
        </div>

      </div>


      <div class="row">

        <div class="col">
          <div class="p-3 mb-2 bg-success-subtle text-emphasis-success">
          <h5>Monthly WiFi: {{wifi_monthly_formatted}}</h5>
          </div>
        </div>

        <div class="col">
          <div class="p-3 mb-2 bg-success-subtle text-emphasis-success">
          <h5>Water Monthly: {{water_sewage_monthly_formatted}}</h5>
          </div>
        </div>

        <div class="col">
          <div class="p-3 mb-2 bg-success-subtle text-emphasis-success">
          <h5>Other Monthly: {{other_monthly_formatted}}</h5>
          </div>
        </div>
      </div>

    </div>
    
    <div class="row">

      <div class="col">
        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Yearly Cost</div>
          <div class="card-body">
            <h5 class="card-title">{{yearly_result}}</h5>
            <p class="card-text">This is the yearly cost including utilities and expenses.</p>
          </div>
        </div>

        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Net Revenue</div>
          <div class="card-body">
            <h5 class="card-title">{{net_rev_formatted}}</h5>
            <p class="card-text">Net revenue after 3% host fee and yearly expenses.</p>
          </div>
        </div>

      </div>

      <div class="col">
        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Monthly Cost</div>
          <div class="card-body">
            <h5 class="card-title">{{monthly_res}}</h5>
            <p class="card-text">This is the monthly cost including utilities and expenses.</p>
          </div>
        </div>

        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Yearly Revnue</div>
          <div class="card-body">
            <h5 class="card-title">{{gross_rev_formatted}}</h5>
            <p class="card-text">Based on average 21 nights per month booked.</p>
          </div>
        </div>

      </div>

      <div class="col">
        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Break Even Nights</div>
          <div class="card-body">
            <h5 class="card-title">{{break_even}}</h5>
            <p class="card-text">This is the break even nights needed.</p>
          </div>
        </div>

        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Guest Rate</div>
          <div class="card-body">
            <h5 class="card-title">{{actual}}</h5>
            <p class="card-text">This is the rate the guests will pay.</p>
          </div>
        </div>

      </div>

    </div>

    {% endif %}
<br>
    <h3>ipropertymanagement.com</h3>

    <!-- The follwoing scripts are used for bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>
